<div class="watch-container">
  <div class="watch-row">
    <div class="watch">
      <a href="versa"><img src="https://marketing.fitbit.com/images/home/product-slider/product-fitbit-versa-x2-9a405855fe92eaeb4d3e513a95a25cee.png"
          alt=""></a>
      <div class="product-name">
        <p>Versa</p>
      </div>
    </div>
    <div class="watch">
      <a href="ionic"><img src="https://marketing.fitbit.com/images/home/product-slider/product-fitbit-ionic-x2-12eb4fe7c5222f699b0c8476f720ddb8.png"
          alt=""></a>
      <div class="product-name">
        <span>Ionic</span>
      </div>
    </div>
    <div class="watch">
      <a href="altaHR"><img src="https://marketing.fitbit.com/images/home/product-slider/product-fitbit-ionic-x2-12eb4fe7c5222f699b0c8476f720ddb8.png"
          alt=""></a>
      <div class="product-name">
        <span>Charge 3</span>
      </div>
    </div>
    <div class="watch">
      <a href=""><img src="https://marketing.fitbit.com/images/home/product-slider/product-fitbit-altahr-1dadb02101f43c2c42d2cf3da270203c.png"
          alt=""></a>
      <div class="product-name">
        <span>Alta HR</span>
      </div>
    </div>
    <div class="watch">
      <a href="ace"><img src="https://marketing.fitbit.com/images/home/product-slider/product-fitbit-ace-x2-09a0490d8586b6cb8518e7bb4e54b4ca.png"
          alt=""></a>
      <div class="product-name">
        <span>Ace</span>
      </div>
    </div>
  </div>

  <div class="watch-row">
    <div class="watch">
      <a href="alta"><img src="https://marketing.fitbit.com/images/home/product-slider/product-fitbit-alta-x2-1f6a9d5a34f727169c097cd20cd87b5b.png"
          alt=""></a>
      <div class="product-name">
        <p>Alta</p>
      </div>
    </div>
    <div class="watch">
      <a href="flex2"><img src="https://marketing.fitbit.com/images/home/product-slider/product-fitbit-flex2-x2-57d96fc18bb2dbabd9c364b3ee1ef70f.png"
          alt=""></a>
      <div class="product-name">
        <span>Flex 2</span>
      </div>
    </div>
    <div class="watch">
      <a href="zip"><img src="https://marketing.fitbit.com/images/home/product-slider/product-fitbit-zip-x2-340b94689ddc0e83be9d808eeba842d5.png"
          alt=""></a>
      <div class="product-name">
        <span>Zip</span>
      </div>
    </div>
    <div class="watch">
      <a href="flyer"><img src="https://marketing.fitbit.com/images/home/product-slider/product-fitbit-flyer-d205e4515c23bedee9a6641793e7f1a5.png"
          alt=""></a>
      <div class="product-name">
        <span>Flyer</span>
      </div>
    </div>
    <div class="watch">
      <a href="aria2"><img src="https://marketing.fitbit.com/images/home/product-slider/product-fitbit-aria2-57d6b15d7dbc34523b07816dadc5cb48.png"
          alt=""></a>
      <div class="product-name">
        <span>Aria 2</span>
      </div>
    </div>
  </div>
</div>