<div class="container">
  <div class="wrapper-header">
    <div class="wrapper-header-inner">
      <a href="/home"><img src="https://marketing.fitbit.com/images/fitbit-logo-b8d71a7ba63970cab57de978d1524556.svg"
          alt=""></a>
      <div class="menu">
        <ul>
          <a>
            <li>Products</li>
          </a>
          <ul class="hover-container">
            <li id="smart-watches">
              <h2>SMARTWATCHES</h2>
            </li>
            <li id="fitness-trackers">
              <h2>FITNESS TRACKERS</h2>
            </li>
            <li id="more-products">
              <h2>MORE PRODUCTS</h2>
            </li>
          </ul>
          <li>Why Fitbit</li>
          <li>Get Motivated</li>
          <li>App & Dashboard</li>
          <li>Health Solutions</li>
          <li>Help</li>
        </ul>
      </div>
      <div class="menu-login">
        <ul>
          <li>Setup</li>
          <li>Log in</li>
        </ul>
      </div>
    </div>
  </div>
</div>