<div id="wrapper">
  <div class slide charge3>
    <div class="container">
      <span class="new-badge">new</span>
      <div class="content">
        <h1>KNOW YOURSELF TO IMPROVE YOURSELF</h1>
        <img src="https://marketing.fitbit.com/images/product-logos/fitbit-charge3-white-7663900be8718a41bbf6cb5c7f43c0e3.svg"
          alt="">
        <p>Meet our most advanced fitness tracker ever—a swimproof wristband with new exercise modes, 7 day battery &
          insights you can use to improve.</p>
        <a class="shop-button" href="#">SHOP NOW</a>
      </div>
    </div>
  </div>
</div>
<div class="flex-wrapper">
  <div class="row">
    <div class="col-md-4 img-one">
      <span class="sub-hero-wrapper">
        <h3>fitbit versa</h3>
        <p class="lower-shop-text">An all-day health and fitness smartwatch</p>
        <p class="lower-shop-text">SHOP NOW</p>
      </span>
    </div>
    <div class="col-md-4 img-two">
      <span class="sub-hero-wrapper">
        <h3>fitbit ace</h3>
        <p class="lower-shop-text">An activity tracker that lets kids 8+ get in on the fun</p>
        <p class="lower-shop-text">SHOP NOW</p>
      </span>
    </div>
    <div class="col-md-4 img-three">
      <span class="sub-hero-wrapper">
        <h3>See what's new</h3>
        <p class="lower-shop-text">explore the lasest Fitbit products & experiences</p>
        <p class="lower-shop-text">SHOP NOW</p>
      </span>
    </div>
  </div>
</div>
<div class="shop-header">
  <h2>Fitbit motivates you to reach your health and fitness goals by tracking your activity, exercise, sleep, weight
    and
    more.</h2>
</div>